<footer class="w-100 py-2 flex-shrink-0">
  <div class="container py-2">
    <div class="row gy-2 gx-5">
      <div class="col-lg-4 col-md-6">
        <h5 class="h5">About Us</h5>
        <p class="small text-muted">
          KONGU MANAMALAI is a Trust based Matrimony run by President of Kongu
          Manamalai
        </p>
      </div>
      <div class="col-lg-2 col-md-6">
        <h5 class="mb-3">Help and Support</h5>
        <ul class="list-unstyled text-muted">
          <li><a href="#">24 X 7 Live Help</a></li>
          <li><a href="#">Contact Us</a></li>
          <li><a href="#">FeedBack</a></li>
          <li><a href="#">FAQ</a></li>
        </ul>
      </div>

      <div class="col-lg-2 col-md-6">
        <h5 class="mb-3">Quick links</h5>
        <ul class="list-unstyled text-muted">
          <li><a href="#">Privacy Policy</a></li>
          <li><a href="#">Terms and Condition</a></li>
          <li><a href="#">Login</a></li>
        </ul>
      </div>

      <div class="col-lg-2 col-md-6">
        <h5 class="mb-3">Social</h5>
        <ul class="list-unstyled text-muted">
          <li></li>
          <li></li>
          <li></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
