.seletedimg {
    width: 200px;
    height: 200px;
    border: 1px solid #ccc;
    margin-top: 10px;
  }


  .alert  {
    background-color: #fed3d3;
    color: #820000;
    padding: 1rem;
    margin-bottom: 1rem;
  }

  